body {
    font-family: Arial, sans-serif;
    background: grey;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    
}

h1, h2 {
    color: Dark Blue Gray;
    
    
}



.intro {
    font-size: 16px;
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
}

.note {
    color: Dark Gray;
    margin-bottom: 15px;
}

.question-box {
    background: Very Light Gray;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: Green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: Green;
}

.result-box {
    margin-top: 20px;
    padding: 20px;
    background: Light Gray;
    border-radius: 5px;
}
h1 {
    text-align: center;
}



